<a href="https://colab.research.google.com/github/rizzaesh/Data-Science-Tools/blob/main/machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install catboost

In [20]:
import catboost as caty
import pandas as pd

In [21]:
pd.read_csv('./Steel_industry_data.csv')

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type
0,01/01/2018 00:15,3.17,2.95,0.00,0.0,73.21,100.00,900.0,Weekday,Monday,Light_Load
1,01/01/2018 00:30,4.00,4.46,0.00,0.0,66.77,100.00,1800.0,Weekday,Monday,Light_Load
2,01/01/2018 00:45,3.24,3.28,0.00,0.0,70.28,100.00,2700.0,Weekday,Monday,Light_Load
3,01/01/2018 01:00,3.31,3.56,0.00,0.0,68.09,100.00,3600.0,Weekday,Monday,Light_Load
4,01/01/2018 01:15,3.82,4.50,0.00,0.0,64.72,100.00,4500.0,Weekday,Monday,Light_Load
...,...,...,...,...,...,...,...,...,...,...,...
13414,20/05/2018 17:45,4.10,0.00,15.95,0.0,100.00,24.90,63900.0,Weekend,Sunday,Medium_Load
13415,20/05/2018 18:00,3.96,0.00,16.06,0.0,100.00,23.94,64800.0,Weekend,Sunday,Medium_Load
13416,20/05/2018 18:15,3.82,0.00,4.68,0.0,100.00,63.23,65700.0,Weekend,Sunday,Medium_Load
13417,20/05/2018 18:30,3.85,0.00,3.60,0.0,100.00,73.04,66600.0,Weekend,Sunday,Medium_Load
13418,20/05/2018 18:4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Import Data

# Preprocessing (Data or image)

# Train Traditional Models

# Train Neural Network

# Visualise

# What Next