<a href="https://colab.research.google.com/github/rizzaesh/Data-Science-Tools/blob/main/SQLite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [12]:
conn = sqlite3.connect('test.db')

In [17]:
cur = conn.cursor()
cur.execute('''CREATE TABLE test
            (id int, symbol text, price real)''')

In [20]:
cur.execute('''INSERT INTO test VALUES (2,"rices",13.432)''')

In [22]:
conn.commit()

In [23]:
conn.close()

In [24]:
gn = sqlite3.connect('test.db')
cure = gn.cursor()

In [26]:
for row in cure.execute('SELECT * FROM test ORDER BY price'):
    print(row)

(1, 'rice', 10.432)
(2, 'rices', 13.432)

In [28]:
row[0]

2

In [31]:
name = 'rice'
cure.execute("SELECT * FROM test WHERE symbol = '%s'" % name )

In [33]:
con = sqlite3.connect(":memory:")

In [50]:
con = sqlite3.connect(":memory:")
cor = con.cursor()
cor.execute("create table lang (name,num)")
cor.execute("insert into lang values (?,?)",("C",1972))
# lang = [("fortran",1900),("python",2016),("me",1997)]
lang = [
    ("Fortran", 1957),
    ("Python", 1991),
    ("Go", 2009),
]
cor.executemany("insert into lang values (?,?)",lang)
cor.execute("select * from lang where num=:now",{"now":1997})

cor.execute("select * from lang where num=:t", {'t':1972})
print(cor.fetchall())
con.close()

[('C', 1972)]

In [61]:
lang2 = [("r",i) for i in range(10000)]

In [ ]:
lang2

In [63]:
con = sqlite3.connect("lang.db")
cor = con.cursor()
# cor.execute("create table lang (name,num)")
cor.execute("insert into lang values (?,?)",("C",1972))
# lang = [("fortran",1900),("python",2016),("me",1997)]
lang = [
    ("Fortran", 1957),
    ("Python", 1991),
    ("Go", 2009),
]
cor.executemany("insert into lang values (?,?)",lang2)
cor.execute("select * from lang where num=:now",{"now":1997})

cor.execute("select * from lang where num=:t", {'t':1972})
print(cor.fetchall())
con.commit()
con.close()

[('C', 1972), ('C', 1972), ('r', 1972)]

In [70]:
con = sqlite3.connect("lang.db")
cor = con.cursor()
# cor.execute("create table lang (name,num)")
cor.execute("insert into lang values (?,?)",("C",1972))
# lang = [("fortran",1900),("python",2016),("me",1997)]
lang = [
    ("Fortran", 1957),
    ("Python", 1991),
    ("Go", 2009),
]
cor.executemany("insert into lang values (?,?)",lang2)
cor.execute("select * from lang where num=:now",{"now":1997})

cor.execute("select * from lang where num=:t", {'t':1972})
print(cor.fetchone()[1])
con.commit()
con.close()

1972

In [ ]:
con = sqlite3.connect("lang.db")
cor = con.cursor()
for row in cor.execute('select * from lang'):
    print(row)

In [68]:
row

('r', 9999)

In [156]:
database = sqlite3.connect("database2.db")

In [157]:
datacur = database.cursor()

In [140]:
datacur.execute('create table data ("id","name","access")')

In [160]:
datacur.execute("insert into data values (?,?,?)",(3,'eraghi',1))

In [174]:
database.commit()

database.close()

In [163]:
database = sqlite3.connect('database2.db')
# datacur
for row in database.execute('delete from data where id=:t',{'t':1}):
    print(row)
# this code will delete records wherer id is 1

In [175]:
database = sqlite3.connect('database2.db')
# datacur
for row in database.execute('select * from data where id=:t',{'t':3}):
    print(row)

(3, 'eraghiii', 1)

In [173]:
database = sqlite3.connect('database2.db')
# datacur
database.execute('update data set name="eraghiii" where id=3')